apiVersion: v2
name: my-traefik
description: A Helm chart for Kubernetes

type: application
version: 1.0.9
appVersion: 1.0.9

dependencies:
  - name: cert-manager
    alias: certmanager
    repository: https://charts.jetstack.io
    # save the crds/cert-manager.crds.yaml at the same time
    # https://github.com/cert-manager/cert-manager/releases/download/v1.18.2/cert-manager.crds.yaml
    version: v1.18.2
    condition: certmanager.enabled
  - name: traefik
    repository: https://traefik.github.io/charts
    version: 37.0.0