traefik:
  image:
    tag: v3.6.7
  providers:
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true
      namespaces:
        - default
        - infra

config:
  domain: xxx.com
  https:
    enabled: false
    choseClusterIssuer: acme # acme or self-signed
    cloudflareApiToken: xxx
    email: xxx@xxx.com
  auth: 
    enabled: true
    username: xxx== # echo -n 'admin' | base64
    password: xxx== # echo -n '123456' | base64