nameOverride: ""
fullnameOverride: ""

server:
  replicaCount: 1

  image:
    repository: prefecthq/prefect
    pullPolicy: IfNotPresent
    tag: ""

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  env:
    PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://prefect:prefect@postgres:5432/prefect
    PREFECT_SERVER_API_HOST: 0.0.0.0

  service:
    type: ClusterIP
    port: 34200
 
  database:
    connectionUrl: postgresql+asyncpg://prefect:prefect@postgres:5432/prefect

  ingress:
    enabled: false
    https: false
    hostname: prefect.example.com

worker:
  replicaCount: 1

  image:
    repository: prefecthq/prefect
    pullPolicy: IfNotPresent
    tag: ""

  pool_name: default-pool

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  env:
    PREFECT_API_URL: https://prefect.example.com/api
    PREFECT_API_AUTH_STRING: admin:pass
